In [20]:
import pandas as pd
import numpy as np

df = pd.read_csv('./Groceries_dataset.csv')
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [22]:
products_df = pd.get_dummies(df['itemDescription'])
products_df.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [24]:
data = df.copy()
data.drop(['itemDescription'], axis = 1, inplace = True)
data = data.join(products_df)
data.head()

,Member_number,Date,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,1808,21-07-2015,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2552,05-01-2015,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,2300,19-09-2015,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1187,12-12-2015,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,3037,01-02-2015,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [26]:
products = df['itemDescription'].unique()
data = data.groupby(['Member_number', 'Date'])[products].sum()
data

                          tropical fruit  whole milk  pip fruit  \
Member_number Date
1000          15-03-2015               0           1          0
              24-06-2014               0           1          0
              24-07-2015               0           0          0
              25-11-2015               0           0          0
              27-05-2015               0           0          0
...                                  ...         ...        ...
4999          24-01-2015               1           0          0
              26-12-2015               0           0          0
5000          09-03-2014               0           0          0
              10-02-2015               0           0          0
              16-11-2014               0           0          0

                          other vegetables  rolls/buns  pot plants  \
Member_number Date
1000          15-03-2015                 0           0           0
              24-06-2014                 0           0           0
              24-07-2015                 0           0           0
              25-11-2015                 0           0           0
              27-05-2015                 0           0           0
...                                    ...         ...         ...
4999          24-01-2015                 1           0           0
              26-12-2015                 0           0           0
5000          09-03-2014                 0           0           0
              10-02-2015                 0           0           0
              16-11-2014                 1           0           0

                          citrus fruit  beef  frankfurter  chicken  ...  \
Member_number Date                                                  ...
1000          15-03-2015             0     0            0        0  ...
              24-06-2014             0     0            0        0  ...
              24-07-2015             0     0            0        0  ...
              25-11-2015             0     0            0        0  ...
              27-05-2015             0     0            0        0  ...
...                                ...   ...          ...      ...  ...
4999          24-01-2015             0     0            0        0  ...
              26-12-2015             0     0            0        0  ...
5000          09-03-2014             0     0            0        0  ...
              10-02-2015             0     0            0        0  ...
              16-11-2014             0     0            0        0  ...

                          flower (seeds)  rice  tea  salad dressing  \
Member_number Date
1000          15-03-2015               0     0    0               0
              24-06-2014               0     0    0               0
              24-07-2015               0     0    0               0
              25-11-2015               0     0    0               0
              27-05-2015               0     0    0               0
...                                  ...   ...  ...             ...
4999          24-01-2015               0     0    0               0
              26-12-2015               0     0    0               0
5000          09-03-2014               0     0    0               0
              10-02-2015               0     0    0               0
              16-11-2014               0     0    0               0

                          specialty vegetables  pudding powder  ready soups  \
Member_number Date
1000          15-03-2015                     0               0            0
              24-06-2014                     0               0            0
              24-07-2015                     0               0            0
              25-11-2015                     0               0            0
              27-05-2015                     0               0            0
...                                        ...             ...          ...
4999          24-01-2015                     0               0            0
              26-12-2015                     0               0            0
5000          09-03-2014                     0               0            0
              10-02-2015                     0               0            0
              16-11-2014                     0               0            0

                          make up remover  toilet cleaner  \
Member_number Date
1000          15-03-2015                0               0
              24-06-2014                0               0
              24-07-2015                0               0
              25-11-2015                0               0
              27-05-2015                0               0
...                                   ...             ...
4999          24-01-2015                0               0
              26-12-2015                0               0
5000          09-03-2014                0               0
              10-02-2015                0               0
              16-11-2014                0               0

                          preservation products
Member_number Date
1000          15-03-2015                      0
              24-06-2014                      0
              24-07-2015                      0
              25-11-2015                      0
              27-05-2015                      0
...                                         ...
4999          24-01-2015                      0
              26-12-2015                      0
5000          09-03-2014                      0
              10-02-2015                      0
              16-11-2014                      0

[14963 rows x 167 columns]

In [28]:
for col in products:
    data[col] = data[col].apply(lambda x: col if x != 0 else 0)
data

                          tropical fruit  whole milk pip fruit  \
Member_number Date
1000          15-03-2015               0  whole milk         0
              24-06-2014               0  whole milk         0
              24-07-2015               0           0         0
              25-11-2015               0           0         0
              27-05-2015               0           0         0
...                                  ...         ...       ...
4999          24-01-2015  tropical fruit           0         0
              26-12-2015               0           0         0
5000          09-03-2014               0           0         0
              10-02-2015               0           0         0
              16-11-2014               0           0         0

                          other vegetables rolls/buns pot plants citrus fruit  \
Member_number Date
1000          15-03-2015                 0          0          0            0
              24-06-2014                 0          0          0            0
              24-07-2015                 0          0          0            0
              25-11-2015                 0          0          0            0
              27-05-2015                 0          0          0            0
...                                    ...        ...        ...          ...
4999          24-01-2015  other vegetables          0          0            0
              26-12-2015                 0          0          0            0
5000          09-03-2014                 0          0          0            0
              10-02-2015                 0          0          0            0
              16-11-2014  other vegetables          0          0            0

                         beef frankfurter chicken  ... flower (seeds) rice  \
Member_number Date                                 ...
1000          15-03-2015    0           0       0  ...              0    0
              24-06-2014    0           0       0  ...              0    0
              24-07-2015    0           0       0  ...              0    0
              25-11-2015    0           0       0  ...              0    0
              27-05-2015    0           0       0  ...              0    0
...                       ...         ...     ...  ...            ...  ...
4999          24-01-2015    0           0       0  ...              0    0
              26-12-2015    0           0       0  ...              0    0
5000          09-03-2014    0           0       0  ...              0    0
              10-02-2015    0           0       0  ...              0    0
              16-11-2014    0           0       0  ...              0    0

                         tea salad dressing specialty vegetables  \
Member_number Date
1000          15-03-2015   0              0                    0
              24-06-2014   0              0                    0
              24-07-2015   0              0                    0
              25-11-2015   0              0                    0
              27-05-2015   0              0                    0
...                       ..            ...                  ...
4999          24-01-2015   0              0                    0
              26-12-2015   0              0                    0
5000          09-03-2014   0              0                    0
              10-02-2015   0              0                    0
              16-11-2014   0              0                    0

                         pudding powder ready soups make up remover  \
Member_number Date
1000          15-03-2015              0           0               0
              24-06-2014              0           0               0
              24-07-2015              0           0               0
              25-11-2015              0           0               0
              27-05-2015              0           0               0
...                                 ...         ...             ...
4999          24-01-2015              0           0               0
              26-12-2015              0           0               0
5000          09-03-2014              0           0               0
              10-02-2015              0           0               0
              16-11-2014              0           0               0

                         toilet cleaner preservation products
Member_number Date
1000          15-03-2015              0                     0
              24-06-2014              0                     0
              24-07-2015              0                     0
              25-11-2015              0                     0
              27-05-2015              0                     0
...                                 ...                   ...
4999          24-01-2015              0                     0
              26-12-2015              0                     0
5000          09-03-2014              0                     0
              10-02-2015              0                     0
              16-11-2014              0                     0

[14963 rows x 167 columns]

In [29]:
newdata = data.values
newdata

array([[0, 'whole milk', 0, ..., 0, 0, 0],
       [0, 'whole milk', 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(14963, 167), dtype=object)

In [32]:
filtered_data = []

for row in newdata:
    cleaned_row = [item for item in row if item != 0]
    if cleaned_row:
        filtered_data.append(cleaned_row)

newdata = filtered_data
newdata[:10]

[['whole milk', 'yogurt', 'sausage', 'semi-finished bread'],
 ['whole milk', 'pastry', 'salty snack'],
 ['canned beer', 'misc. beverages'],
 ['sausage', 'hygiene articles'],
 ['soda', 'pickled vegetables'],
 ['frankfurter', 'curd'],
 ['whole milk', 'rolls/buns', 'sausage'],
 ['whole milk', 'soda'],
 ['beef', 'white bread'],
 ['frankfurter', 'soda', 'whipped/sour cream']]

In [34]:
from apyori import apriori

rules = list(apriori(newdata, min_support=0.00026, min_confidence=0.4, min_length=2, max_length=3, min_lift=1.3))

In [35]:
sorted_rules = []

for record in rules:
    for rule in record.ordered_statistics:
        sorted_rules.append({
            'base': tuple(rule.items_base),
            'add': tuple(rule.items_add),
            'support': record.support,
            'confidence': rule.confidence,
            'lift': rule.lift
        })

sorted_rules = sorted(sorted_rules, key=lambda x: x['support'], reverse=True)

i = 1
for rule in sorted_rules[:10]:
    print(f"Rule #{i}\n {rule['base']} -> {rule['add']}")
    print(f"support: {rule['support']:5f}")
    print(f"confidence: {rule['confidence']:.2f}")
    print(f"lift: {rule['lift']:.2f}\n")
    i += 1

Rule #1
 ('hygiene articles', 'canned beer') -> ('whole milk',)
support: 0.000401
confidence: 0.55
lift: 3.45

Rule #2
 ('hard cheese', 'bottled beer') -> ('whole milk',)
support: 0.000334
confidence: 0.45
lift: 2.88

Rule #3
 ('butter milk', 'canned beer') -> ('yogurt',)
support: 0.000334
confidence: 0.42
lift: 4.85

Rule #4
 ('curd', 'fruit/vegetable juice') -> ('sausage',)
support: 0.000334
confidence: 0.50
lift: 8.29

Rule #5
 ('sausage', 'hard cheese') -> ('other vegetables',)
support: 0.000334
confidence: 0.45
lift: 3.72

Rule #6
 ('ice cream', 'pip fruit') -> ('rolls/buns',)
support: 0.000334
confidence: 0.50
lift: 4.55

Rule #7
 ('sausage', 'waffles') -> ('other vegetables',)
support: 0.000334
confidence: 0.42
lift: 3.41

Rule #8
 ('dessert', 'bottled beer') -> ('other vegetables',)
support: 0.000267
confidence: 0.44
lift: 3.64

Rule #9
 ('soft cheese', 'bottled beer') -> ('whole milk',)
support: 0.000267
confidence: 0.67
lift: 4.22

Rule #10
 ('hard cheese', 'brown bread') -> ('other vegetables',)
support: 0.000267
confidence: 0.50
lift: 4.09